@charset "utf-8";

$main-theme: #ffffff;
$sub-theme: #ffffff;
$accent1-theme: #ffffff;
$accent2-theme: #ffffff;

$default-font-color:       #696969;
$default-background-color: #ffffff;
$default-borfder-color:    #696969;